<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718404979807-gvtg2c987nca63f2o0rk5nr47mnd1bis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718404979807-gvtg2c987nca63f2o0rk5nr47mnd1bis</string>
	<key>API_KEY</key>
	<string>AIzaSyA4IqSZ4UiQN5665g-CxxTtYp7ekHYMcws</string>
	<key>GCM_SENDER_ID</key>
	<string>718404979807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kangbyungmin.LastDevContest</string>
	<key>PROJECT_ID</key>
	<string>newgsgs-8bd65</string>
	<key>STORAGE_BUCKET</key>
	<string>newgsgs-8bd65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718404979807:ios:4a1110549e1b2d043c9fea</string>
	<key>DATABASE_URL</key>
	<string>https://newgsgs-8bd65.firebaseio.com</string>
</dict>
</plist>